input:focus, textarea:focus {
  outline: none;
}

.new::after {
  position: absolute;
  content: ' ';
  width: 60px;
  height: 59px;
  background-image: url("../img/new-mark.png");
  top: -1px;
  right: -1px;
}

.btn-red {
  border-radius: 3px;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.btn-red:hover {
  background-color: #ca2c37;
}

.btn-red:active {
  background-color: #ba2732;
}

.container {
  display: flex;
  width: 940px;
  flex-direction: row;
  margin: auto;
  justify-content: flex-start;
}

body {
  font-family: "PT Sans", "Arial", "sans-serif";
  background-color: #ffffff;
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
}

header {
  background-color: #f1f5f7;
  font-family: "Cuprum", "Arial", "sans-serif";
  height: 320px;
  color: #ffffff;
  margin-bottom: 59px;
}

.header-title {
  background-color: #293449;
  color: #ffffff;
}

.header-title .container {
  height: 42px;
  margin-bottom: 46px;
  justify-content: flex-start;;
}

.shop-logo {
  display: flex;
  justify-content: center;
  width: 220px;
  background-color: #ee3643;
  text-transform: uppercase;
  align-items: center;
  font-size: 24px;
  line-height: 24px;
  box-shadow: 0 5px 0 #b52933;
}

.shop-logo:hover {
  background-color: #ca2c37;
}

.header-title .search-block {
  width: 270px;
  display: flex;
  align-items: stretch;
  font-size: 17px;
  height: 42px;
}

.header-title .search-block input {
  width: 270px;
  background-color: #293449;
  border: none;
  padding-left: 47px;
  box-shadow: none;
  font-size: 17px;
  font-family: "Cuprum", "Arial", "serif";
  color: #ffffff;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -1px -698px;
}

.search-block input:hover, .header-bookmarks:hover, .header-cart:hover {
  background-color: #212a3a;
}

.search-block input:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -1px -745px;
}

.search-block input:hover {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -1px -792px;
}

.header-title a {
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.header-title a:not(:last-of-type)::before {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  left: 25px;
  opacity: 0.3;
}

.header-title a:not(:last-of-type):hover::before {
  opacity: 1;
}

.header-title a:not(:last-of-type):active::before {
  opacity: 0.5;
}

.header-title a span {
  padding-left: 5px;
}

.header-bookmarks, .header-cart {
  padding-left: 50px;
  padding-right: 30px;
}

.header-bookmarks {
  width: 80px;
}

.header-bookmarks::before {
  width: 14px;
  height: 16px;
  background-position: -15px -173px;
}

.header-cart {
  width: 70px;
}

.header-cart::before {
  width: 17px;
  height: 16px;
  background-position: -15px -127px;
}

.header-checkout {
  cursor: pointer;
  width: 150px;
  background-color: #63a63e;
  color: #ffffff;
}

.header-checkout:hover {
  background-color: #5fbb2d;
}

.header-checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.header-bookmarks:active, .header-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-info .container {
  height: 112px;
}

.header-info-title {
  width: 300px;
  margin-right: 20px;
}

.header-info-title p {
  margin-left: 50px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
  margin-top: 0;
}

.header-contacts {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}

.header-contacts a {
  position: relative;
  text-decoration: none;
  color: #e9292a;
  padding: 12px 50px 12px 70px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  margin-bottom: 10px;
}

.header-contacts a::before {
  position: absolute;
  content: "";
  width: 29px;
  height: 19px;
  left: 15px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -15px -661px;
}

.header-info .header-contacts span {
  width: 300px;
  color: #32425c;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.entrance-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
}

.entrance-form .sign-in {
  position: relative;
  width: 50px;
  background-color: #ffffff;
  margin-left: 19px;
  margin-right: 10px;
  text-decoration: none;
  padding:  14px 25px 14px 48px;
  color: #000000;
}

.sign-in::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  left: 15px;
  background-position: -15px -473px;
}

.sign-in:hover::before {
  background-position: -15px -520px;
}

.sign-in:active::before {
  background-position: -15px -473px;
}


.entrance-form .registration {
  width: 150px;
  background-color: #ffffff;
  text-decoration: none;
  padding: 14px 0;
  color: #000000;
}

.entrance-form .user-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 255px;
}

.entrance-form .user {
  width: 255px;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  padding: 14px 0;
  margin-bottom: 10px;
  color: #000000;
}

.user-form .orders, .user-form .cabinet {
  width: 50%;
  font-size: 17px;
  line-height: 18px;
  color: #32425c;
  position: relative;
}

.user-form .cabinet::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;
  top: 40%;
  left: -10px;
}

.entrance-form .exit {
  width: 45px;
  height: 46px;
  background-color: #ffffff;
}

.entrance-form a:hover  {
  color: #ee3643;
}

.user-form .user:hover {
  color: #000000;
}

.entrance-form a:active, .user-form .user:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-form .orders:active, .user-form .cabinet:active {
  color: rgba(50, 66, 92, 0.3);
}

.header-navigation .container {
  height: 55px;
  background-color: #32425c;
  box-shadow: 0 5px 0 #293449;
  align-items: stretch;
}

.header-navigation a{
  text-decoration: none;
  width: inherit;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  padding: 19px 0;
}

.header-navigation a:hover{
  background-color: #293449;
}

.header-navigation a:active{
  background-color: #1d2739;
  box-shadow: 0 5px 0 #1d2739;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.5);
}

.item-in-cart, .make-bookmark {
  background-color: #ee3643;
  color: #ffffff;
}

main .container {
  display: block;
}

.categories {
  height: 409px;
  margin-bottom: 54px;
}

.categories-top-line {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.categories-bottom-line {
  display: flex;
  height: 266px;
}

.category-box {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 123px;
  align-items: flex-start;
  justify-content: flex-start;
}

.category-box-info {
  display: flex;
  flex-direction: column;
}

.category-box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 123px;
}

.slider-wrapper {
  display: block;
  width: 620px;
  height: 266px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}

.slider-wrapper input {
  display: none;
}
.slider-wrapper .slider-control, .slider-wrapper .slider-dot {
  position: absolute;
    z-index: 10;
}

.slider-wrapper .slider-control:hover, .slider-wrapper .slider-dot:hover {
  cursor: pointer;
}

.slider-wrapper .slider-dot {
  right: 295px;
  width: 6px;
  height: 6px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  bottom: 36px;

}

 .slider-dot-1 {
  left: 295px;
}

 .slider-dot-2 {
  right: 295px;
}

.slider-wrapper .slider-control {
  border-bottom: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-radius: 3px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  width: 30px;
  height: 30px;
}

.slider-control-left {
  transform: rotate(45deg);
  left: 20px;
  top: 45%;
}

.slider-control-right {
  transform: rotate(225deg);
  right: 20px;
  top: 45%;
}


#slide-btn1:checked ~ .slider-dot[for="slide-btn1"],
#slide-btn2:checked ~ .slider-dot[for="slide-btn2"] {
  background-color: #ee3643;
}

#slide-btn1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}

#slide-btn2:checked ~ .slider-inner .slider-slides {
  transform: translate(-620px);
}

.sider-inner {
  overflow: hidden;
}

.slider-slides {
  width: 1240px;
  height: 266px;
  transition: transform 0.8s ease;
}

.slide-1 {
  float: left;
  background-image: url("../img/slider-1.jpg");
  width: 620px;
  height: 266px;
}

.slide-2 {
  float: left;
  background-image: url("../img/slider-2.jpg");
  width: 620px;
  height: 266px;
}

.slider-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 105px;
  margin-bottom: 100px;
}

.slider-header span  {
  margin-left: 25px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.slider-header .category-box-title {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 27px;
  margin-bottom: 8px;
}

.slider-wrapper a {
  margin-left: 25px;
  padding: 14px 50px;
  border-radius: 3px;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.category-box-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 266px;
}

.materials, .delivery {
  background-color: #f6b22d;
}

.instrument {
  background-color: #4aafde;
}

.technics {
  background-color: #cc79d1;
}

.sale {
  background-color: #85d179;
}

.category-box span {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 24px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 10px;
  margin-left: 22px;
  color: #ffffff;

}

.category-box a {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 14px;
  margin-left: 24px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 0;
  width: 136px;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.category-box a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-box a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.popular-products-title, .popular-vendors-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 940px;
  height: 90px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-products-title span, .popular-vendors-title span {
  margin-left: 30px;
}

.popular-products-title a, .popular-vendors-title a {
  width: 253px;
  text-align: center;
  padding: 14px 0;
  margin-right: 24px;
}

.popular-vendors-wrapper, .popular-products-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 940px;
  margin-top: 20px;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 218px;
  height: 318px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  margin-right: 20px;
}

.product-item:nth-child(4n) {
  margin-right: 0;
}

.product-item:hover, .vendor-logo:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.vendor-logo:active {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.vendor-logo:active img {
  opacity: 0.3;
}

.product-item .image-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 159px;
  justify-content: center;
  align-items: center;
}

.product-item-hover {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 83px;
  width: 135px;
  margin-top: 25px;
}

.product-item:hover img {
  display: none;
}

.product-item:hover .product-item-hover {
  display: flex;
}

.product-item-hover a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Cuprum", "Arial", "sans-serif";
  border-radius: 3px;
}

.product-item .buy {
  width: 100%;
  background-color: #63a63e;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 8px;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.product-item .bookmark {
  width: 129px;
  background-color: #ffffff;
  color: #32425c;
  padding-top: 9px;
  padding-bottom: 9px;
  border: 3px solid #63a63e;
}

.product-item .buy:hover {
  background-color: #5fbb2d;
}

.product-item .bookmark:hover{
  border-color: #32425c;
}

.product-item .buy:active {
  background-color: #518534;
  box-shadow: none;
}

.product-item .bookmark:active{
  opacity: 0.3;
}

.product-item p {
  height: 39px;
  width: 180px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #00000;
  text-align: center;
}

.product-item span {
  padding: 13px 21px 13px 37px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 17px;
  line-height: 18px;
  align-self: flex-start;
  margin-left: 43px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-item .old-price {
  height: 22px;
  color: #999999;
  text-decoration: line-through;
}

.product-item .actual-price {
  margin-bottom: 20px;
  position: relative;
  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
}

.product-item .actual-price:after{
  position: absolute;
  content: ' ';
  top: 15%;
  right: -14px;
  width: 30px;
  height: 30px;
  background-color: #ee3643;
  transform: rotate(45deg);
}

.popular-vendors-wrapper {
  margin-bottom: 65px;
}

.popular-vendors .vendor-logo {
  display: flex;
  width: 218px;
  height: 143px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
}

.vendor-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.popular-vendors .vendor-logo:nth-child(4n) {
  margin-right: 0;
}

.services {
  background-color: #f2f6f8;
  height: 522px;
}

.services .container {
  display: block;
}

.services-info {
  display: flex;
  flex-direction: column;
  height: 239px;
  width: 100%;
}

.services-info .services-title {
  display: block;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 24px;
  padding-top: 67px;
  padding-bottom: 36px;
}

.services-info p {
  display: block;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 26px;
  width: 400px;
}

.services-tabs {
  position: relative;

}

.services-tabs .services-tabs-controls {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
  width: 940px;
  height: 282px;
}

.services-tabs::after {
  position: absolute;
  content: ' ';
  top: -25px;
  left: 230px;
  width: 10px;
  height: 272px;
  background-image: url("../img/vertical-shadow-line.png");
}
.services-tabs input, .tab-content {
  display: none;
}

.services-tabs label {
  padding: 20px 0 20px 14px;
  position: relative;
  list-style-type: none;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  width: 226px;
  background-color: #32425c;
}
.services-tabs label:not(:last-of-type) {
  margin-bottom: 2px;
}

.services-tabs label:not(:last-of-type)::after {
  position: absolute;
  content: ' ';
  bottom: -2px;
  left: 0;
  width: 240px;
  height: 2px;
  background-image: url("../img/horizontal-border.jpg");
}

.services-tabs label:hover {
cursor: pointer;
background-color: #293449;
}

#tab-delivery:checked ~ label[for="tab-delivery"],
#tab-warranty:checked ~ label[for="tab-warranty"],
#tab-credit:checked ~ label[for="tab-credit"] {
  cursor: pointer;
  background-color: #ffffff;
  color: #32425c;
}

#tab-delivery:checked ~ .delivery-tab,
#tab-warranty:checked ~ .warranty-tab,
#tab-credit:checked ~ .credit-tab {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 284px;
  width: 620px;
  margin-left: 80px;
}

.tab-content span {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.tab-content p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size:  13px;
  line-height: 24px;
}

.tab-content::after {
  position: absolute;
  content: ' ';
  right: -10px;
  top: 0;
}

.delivery-tab::after {
  background-image: url("../img/delivery-car.png");
  width: 468px;
  height: 261px;
}

.warranty-tab::after {
  background-image: url("../img/gurantee-medal.png");
  width: 389px;
  height: 283px;
}

.credit-tab::after {
  background-image: url("../img/credit.png");
  width: 465px;
  height: 285px;
}

.credit-tab a {
  padding: 14px 0;
  width: 195px;
  text-align: center;
  margin-top: 32px;
}

.about-us .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 78px;
  margin-bottom: 87px;
  min-height: 378px;
}

.about-company {
  width: 560px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-company span, .contacts span {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size:  30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.about-company p, .contacts p {
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size:  13px;
  line-height: 24px;
  margin-bottom: 35px;
  margin-top: 0;
}

.about-company p:last-of-type {
  margin-bottom: 26px;
}

.about-company ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 33px;
}

.about-company li {
  position: relative;
  padding-left: 35px;
}

.about-company li:not(:last-of-type) {
  margin-bottom: 17px;
}

.about-company li::before {
  position: absolute;
  content: ' ';
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us .about-company-btn {
  width: 220px;
  padding: 13px 0;
  text-align: center;
  margin-top: 0;
}

.contacts .map {
  margin-bottom: 38px;
  height: 158px;
}

.map label:hover, .feedback-btn:hover, .close-cross:hover {
  cursor: pointer;
}

.contacts .feedback-btn{
  align-self: stretch;
  padding: 13px 0;
  text-align: center;
}

input[name="write-us"], input[name="interactive-map"] {
  display: none;
}

#feedback-btn:checked ~ .feedback-wrapper {
  display: block;
  position: fixed;
  width: 620px;
  height: 430px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.feedback-wrapper {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75),
              0 13px 0 0 #ee3643 inset;
  background-color: #ffffff;
  z-index: 99;
}

.feedback-wrapper form {
  width: 620px;
  display: flex;
  flex-direction: column;
  margin-top: 54px;

}

.feedback-wrapper .form-top-line, .feedback-wrapper .form-bottom-line {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 80px 0 80px;
}

.feedback-wrapper form label {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 10px;
}

.feedback-wrapper input, .feedback-wrapper textarea {
  border: 2px solid #dcd7de;
  border-radius: 3px;
  box-shadow: none;
}

.form-top-line label {
  width: 220px;
}

.form-top-line input:not(:last-of-type),
.form-top-line label:not(:last-of-type) {
  margin-right: 20px;
}

.form-top-line input {
  height: 38px;
  width: 204px;
  margin-bottom: 20px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 18px;
  padding-left: 10px;
}

.feedback-wrapper textarea {
  min-height: 104px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-size: 13px;
  line-height: 18px;
  padding-top: 10px;
  padding: 10px;
  margin-bottom: 38px;
}

.form-bottom-line textarea, .form-bottom-line label {
  width: 100%;
}

form .button-area {
  width: 100%;
  height: 112px;
  background-color: #f1f1f1;
}

form button {
  margin: 37px 80px 37px 80px;
  width: 460px;
  border: none;
  padding: 13px 0;
}

#interactive-map:checked ~ .map-wrapper {
  display: block;
  position: fixed;
  width: 940px;
  height: 446px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.map-wrapper {
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.close-cross {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-image: url("../img/sprite.png");
  background-position: -5px -1034px;
}

.feedback-wrapper .close-cross {
  top: 16px;
}

footer {
  background-color: #32425c;
  font-family: "Cuprum", "Arial", "sans-serif";
  color: #ffffff;
  height: 300px;
  font-size: 18px;
  line-height: 24px;
}

.footer-top .container {
  height: 193px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.footer-top-line {
  display: flex;
  height: 63px;
}

.footer-top-logo a {
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 17px 0;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin-left: 170px;
}

.footer-nav-list a {
  margin-top: 42px;
  text-decoration: none;
  color: #ffffff;
}

.footer-top-info {
  display: flex;
  margin-top: 35px;
  height: 95px;
}

.footer-top-info-adress {
  width: 415px;
}

.footer-top-submenu-list {
  display: flex;
  justify-content: space-between;
  width: 525px;
}

.footer-top-submenu-list a {
  text-decoration: none;
  color: #ffd180;
}

.footer-nav-list a:hover, .footer-top-submenu-list a:hover {
  text-decoration: underline;
}

.footer-nav-list a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-top-submenu-list a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom {
  background-color: #293449;
  height: 107px;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom .container {
  align-items: center;
  height: 100%;
}

.footer-bottom-info-wrapper {
  display: flex;
}

.footer-bottom .copyright {
  display: flex;
  width: 250px;
  margin-right: 150px;
}

.footer-bottom .social {
  display: flex;
  width: 150px;
  margin-right: 100px;
}

.footer-bottom .social a {
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-right:5px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social .vk-btn {
  background-position: -8px -985px;
}

.social .fb-btn {
  background-position: -1px -66px;
}

.social .inst-btn {
  background-position: -5px -938px;
}

.footer-bottom .social a:hover, .footer-bottom .social a:active {
  background-color: #ee3643;
}

.footer-bottom .feedback, .footer-bottom .developer {
  width: 150px;
}

.footer-bottom .developer {
  padding-left: 40px;
}

.footer-bottom .feedback a, .footer-bottom .developer a {
  text-decoration: none;
  color: #ffd180;
}

.footer-bottom .feedback a:hover, .footer-bottom .developer a:hover {
  text-decoration: underline;
}

.footer-bottom .feedback a:active, .footer-bottom .developer a:active {
  text-decoration: none;
  color: #ee3643;
}

.feedback-wrapper, .map-wrapper, .cart-wrapper {
  display: none;
}

h1, .popular {
  font-family: "Cuprum", "Arial", "sans-serif";
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}
